<div class="content-section">
  <table>
    <td style='width: 100%;'>
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    </td>
    <td>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile-edit' %}">Edit</a>
    </td>
  </table>
</div>