<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="recieve-item" method='post' class="form" role="form" action="{% url 'item-recieve' item.id %}">
            {% csrf_token %}
            <div class="modal-header">
                <legend class='text-muted'>You have recieved the item '{{ item.item_name }}'</legend>
                <a class="btn btn-outline-secondary" class="close" href="{% url 'profile' %}">×</a>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Yes</button>
                    <a class="btn btn-outline-secondary" class="close" href="{% url 'profile' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->